body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  var(--background-light);
  --primary-dark: #012E4A;
  --primary-light: #036280;
  --alternative-light: #378BA4;
  --highlight: #81BECE;
  --background-light: #E8EDE7;
  --error: #FD292F;
  --error-dark: #B20000;
  --warning: #FDB10B;
  --success: #87C159;
  --success-dark: #058240;
  --white: #FFFFFF;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  background-color: var(--white);
  padding: 10px;
  margin-top: 10px;
}

.navBar {
  background-color: var(--primary-dark);
  top: 0;
  width: 100%;
  min-height: 32px;
  display: flex;
}

a{
  margin: 8px;
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--highlight);
}